
#recipe-creation-section {
    margin-top: 60px;
    padding-top: 20px;
    position: relative;
}


section + section {
    margin-top: 40px;
}


.section-header-compact {
    margin-bottom: 20px;
    padding-bottom: 10px;
}


#weight-goal-section {
    margin-bottom: 60px;
}
